// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint/grid";

body {
  font: 14px/19px Georgia;
}

article {
  @include container;
  header#main-head {
    @include prepend(8);
    @include column(15, true);
  }
}

line.key {
  stroke-width: 1px;
  stroke: #666;
}

#chart-1 {
  path.state {
    fill: #f9f9f9;
    stroke: #ccc;
    stroke-width: 1px;
  }
}
circle.point { fill: #000; }
circle.key {
  fill: #000;
}
h1, h2 {
  font-size: 14px;
  font-weight: normal;
}

nav {
  section.subject {
    @include container;
  }
  section.performance {
    @include container;
  }
  section {
    header { 
      @include column(8); text-align: right; 
    }
    ul { 
      @include column(16, true); 
    }
  }
  h2, li {
    padding-right: 5px;
  }
  h2 {
    font-style: italic;
    margin-top: 0;
  }
  ul {
    list-style-type: none;
    margin: 0; padding: 0;
    li { 
      color: #aaa;
      &:hover {
        color: #000;
      }
      display: inline;
      cursor: pointer; 
      &.active {
        color: #000;
        text-decoration: underline;
      }
    }
  }
}

