// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint/grid";

body {
  font: 14px/19px Georgia;
}

article {
  @include container;
}

#chart-1 {
  border: 1px solid #aaa;
  path.state {
    fill: transparent;
    stroke: #aaa;
    stroke-width: 1px;
  }
}
h1, h2 {
  font-size: 14px;
}

nav {
  @include container;
  section.subject {
    @include column(6);
  }
  section.performance {
    @include column(18, true);
  }
  ul {
    list-style-type: none;
    margin: 0; padding: 0;
    li { 
      display: inline;
      cursor: pointer; 
      padding-right: 5px;
      &.active {
        text-decoration: underline;
      }
    }
  }
}

