// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint/grid";

article {
  @include container;
}

#chart-1 {
  border: 1px solid #aaa;
  path.state {
    fill: transparent;
    stroke: #aaa;
    stroke-width: 2px;
  }
}

